/.gradle
/build
/*/build
app_pojavlauncher/src/main/assets/components/jre
/app_pojavlauncher/src/main/assets/components/jre-new/
/app_pojavlauncher/src/main/assets/components/jre-21/
local.properties
.idea/
app_pojavlauncher/.cxx/
.vs/
/curseforge_key.txt

arc_dns_injector/bin/main/git/artdeell/arcdns/ArcDNSInjectorAgent.class
arc_dns_injector/bin/main/git/artdeell/arcdns/CacheUtil_J8.class
arc_dns_injector/bin/main/git/artdeell/arcdns/CacheUtil_J9.class
arc_dns_injector/bin/main/git/artdeell/arcdns/CacheUtilCommons.class
jre_lwjgl3glfw/bin/main/android/util/ArrayMap.class
jre_lwjgl3glfw/bin/main/android/util/ArrayMap$1.class
jre_lwjgl3glfw/bin/main/android/util/ContainerHelpers.class
jre_lwjgl3glfw/bin/main/android/util/EmptyArray.class
jre_lwjgl3glfw/bin/main/android/util/MapCollections.class
jre_lwjgl3glfw/bin/main/android/util/MapCollections$ArrayIterator.class
jre_lwjgl3glfw/bin/main/android/util/MapCollections$EntrySet.class
jre_lwjgl3glfw/bin/main/android/util/MapCollections$KeySet.class
jre_lwjgl3glfw/bin/main/android/util/MapCollections$MapIterator.class
jre_lwjgl3glfw/bin/main/android/util/MapCollections$ValuesCollection.class
jre_lwjgl3glfw/bin/main/android/util/Objects.class
jre_lwjgl3glfw/bin/main/net/java/openjdk/cacio/ctc/ExternalMouseReader.class
jre_lwjgl3glfw/bin/main/net/java/openjdk/cacio/ctc/InfdevGrabHandler.class
jre_lwjgl3glfw/bin/main/net/minecraft/client/ClientBrandRetriever.java.z
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/CallbackBridge.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/Callbacks.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/GLFW.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/GLFW$Functions.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/GLFWNativeCocoa.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/GLFWNativeEGL.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/GLFWNativeNSGL.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/GLFWNativeOSMesa.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/GLFWNativeWayland.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/GLFWNativeWGL.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/GLFWNativeWin32.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/GLFWNativeX11.class
jre_lwjgl3glfw/bin/main/org/lwjgl/glfw/GLFWWindowProperties.class
jre_lwjgl3glfw/bin/main/org/lwjgl/input/InfdevMouse.class
jre_lwjgl3glfw/bin/main/org/lwjgl/opengl/GLCapabilities.class
