/.gradle
/build
/*/build
app_solcraftlauncher/src/main/assets/components/jre
/app_solcraftlauncher/src/main/assets/components/jre-new/
/app_solcraftlauncher/src/main/assets/components/jre-21/
local.properties
.idea/
app_solcraftlauncher/.cxx/
.vs/
/curseforge_key.txt
